<div class="card-group" style="padding-top: 10px;">
    <div class="card" style="width: 270px; height:233px; margin-left: 0px;margin-right: 5px;margin-bottom: 15px;">
        <div class="card-body" style="background-color: #f0f8e0;padding: 0px;">
          <h6 class="card-title quiz-title">{{quiz.title | truncate:20}}</h6>
          <p class="card-text quiz-description">{{quiz.description | truncate:150}}</p>
          <button class="btn btn-primary quiz-button" type="button" style="background-color: rgb(6,122,4);">Start</button>
        </div>
    </div>
</div>
