/* You can add global styles to this file, and also import other style files */
ul {
  list-style: none;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.tool-icon {
  padding:10px;
  display: none;
}

.modifiable:hover .tool-icon {
  display: inline;
}

[hidden]{display:none!important};
