<div *ngIf="!showExpand">
  <div *ngFor="let question of questions">
    <div class="panel panel-default question-panel">
      <div class="panel-heading modifiable">
        <div [hidden]="questionEditor.isEditMode">
          {{question.text}}
          <span class="glyphicon glyphicon-pencil tool-icon" (click)="questionEditor.show()"></span>
          <span class="glyphicon glyphicon-trash tool-icon" data-toggle="modal" data-target="#confirmDeleteModal_qs" (click)="onDeleteQuestionClick(question.id)"></span>
        </div>
        <div>
          <popquiz-label-editor #questionEditor [value]="question.text" (valueChanged)="onQuestionTextChanged($event)" [payload]="question"></popquiz-label-editor>
        </div>
      </div>
      <div class="panel-body"><popquiz-choice-list [quizId]="quizId" [questionId]="question.id" [choices]="question.choices"></popquiz-choice-list></div>
    </div>
  </div>
  <button class="btn add-item-button" (click)="onAddQuestionClick()"><span class="glyphicon glyphicon-plus"></span></button>
  <popquiz-item-deleter #itemDeleter suffix="qs" message="Are you sure you wish to delete this question?" (confirmed)="onDeleteQuestion()"></popquiz-item-deleter>
</div>
