<div *ngFor="let quiz of quizes">
  <div class="quiz-container">
    <div class="well well-sm quiz-row" (click)="questionList.onToggleClick($event);">
        <div class="quiz-name dt">{{quiz.name}}</div>
        <span [ngClass]="{'quiz-chevron':true, 'glyphicon':true, 'glyphicon-chevron-down':questionList._showExpand, 'glyphicon-chevron-up':!questionList._showExpand}"></span>
    </div>
    <div><popquiz-question-list #questionList [quizId]="quiz.id"></popquiz-question-list></div>
  </div>
</div>

