.choice-row {
  display: inline;
}

.choice-icon {
  height: 16px;
  width: 16px;
}

.choice-text {
  display: inline;
  margin: 10px;
}

.choice-correct-icon {
  display: inline;
}

.choice-editor {
  display: inline;
}
