
.search-box {
  float: right;
}

.explore-quizes {
  color: black;
  padding-top:25px;
}

.search-box input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-top:thin solid  #e5e5e5;
  border-right:thin solid #e5e5e5;
  border-bottom:0;
  border-left:thin solid  #e5e5e5;
  box-shadow:0px 1px 1px 1px #e5e5e5;
}

.search-box button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  cursor: pointer;
  border-top:thin solid  #e5e5e5;
  border-right:thin solid #e5e5e5;
  border-bottom:0;
  border-left:thin solid  #e5e5e5;
  box-shadow:0px 1px 1px 1px #e5e5e5;
}
